.area-card {
  height: 60%;
  width: 20%;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: 5% 5% 40% 50%;;
  grid-template-areas:
    'short-name'
    'name'
    'description'
    'button';
  justify-items: center;
  align-items: center;
  grid-row-gap: 10px;
  font-family: 'Work Sans', sans-serif;
  background-color: #FFD6BA;
  border-radius: 5%;
  border: 2px solid #555B6E;
  box-shadow: 3px 3px #393b40;
}

.short-name {
  grid-area: short-name;
}

.area-name {
  grid-area: name;
}

.area-description {
  margin-top: auto;
  grid-area: description;
  // padding: 3%;
  padding-top: 6%;
  border-bottom: 2px solid #555B6E;
  border-top: 2px solid #555B6E;
  height: 150%;
  text-align: center;
  font-size: 1.2em;
}

.view-listings-btn {
  margin-top: 10%;
  grid-area: button;
  height: 35%;
  border-radius: 4px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  margin-right: 2%;
  background-color: #FAF9F9;
  cursor: pointer;
}
