.area-card {
  height: 300px;
  width: 400px;
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: 20% 10% 30% auto;
  grid-template-areas:
    'short-name'
    'name'
    'description'
    'button';
  justify-items: center;
  align-items: center;
  grid-row-gap: 10px;
}

.short-name {
  grid-area: short-name;
}

.area-name {
  grid-area: name;
}

.area-description {
  grid-area: description;
}

.view-listings-btn {
  grid-area: button;
  width: 35%;
  height: 35%;
  border-radius: 4px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  margin-right: 2%;
  background-color: #FAF9F9;
  cursor: pointer;
}
