.details-container {
  height: 100%;
  background-color: #89B0AE;

}

.details-card {
  height: 70%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 40% 15% 15% 15% 15%;
  grid-template-areas:
    '. carousel .'
    '. . .'
    'favorite details .'
    'unfavorite details .'
    '. unique .';
  justify-content: center;
  align-content: center;
  font-family: 'Work Sans', sans-serif;

}

.carousel {
  margin-top: 10px;
  grid-area: carousel;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.details-fav {
  grid-area: favorite;
}

.details-unfav {
  grid-area: unfavorite;
}

.details-fav,
.details-unfav {
  width: 50%;
  justify-self: center;
  align-self: center;
  height: 40%;
  border-radius: 4px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  background-color: #FFD6BA;
  cursor: pointer;
}

.details-info {
  grid-area: details;
  justify-self: center;
  align-self: flex-start;
}

.details-list {
  margin: 10px;

}

.unique-features {
  grid-area: unique;
}
