.login-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    height: 80%;
    width: 80%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    h1 {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
    }

    * {
        width: 75%;
        height: 10%;
        margin: 2%;
    }
}